$dkgray: #394141;
$gray: #454f4f ;
$ltgray: #8e9699;
$contact-form: #7BC087;
$green: #5FA269;
$accent: #51B2D6;


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin box-shadow($horizontal: 1px, $vertical: 1px, $blur: 2px, $color: rgba(0,0,0,0.5)) {
  -webkit-box-shadow: $horizontal $vertical $blur $color;
  -moz-box-shadow: $horizontal $vertical $blur $color;
  box-shadow: $horizontal $vertical $blur $color;
}
